
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maternity Allowance Card Sort
      </h1>

      <p>Introduction text.</p>


      <h2 class="govuk-heading-m">Scenarios</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/scenario-1/about-you" class="govuk-body govuk-!-font-weight-bold">Scenario 1 &amp; 2</a><br />
          Scenario 1 - Employed by one employer<br />
          Scenario 2 - Employed by multiple employers
        </li>
        <li>
          <a href="/scenario-3/about-you" class="govuk-body govuk-!-font-weight-bold">Scenario 3</a><br />
          Scenario 3 - Self-employed
        </li>
        <li>
          <a href="/scenario-4/about-you" class="govuk-body govuk-!-font-weight-bold">Scenario 4</a><br />
          Scenario 3 - Employed and Self-employed
        </li>
        <li>
          <a href="/scenario-5/about-you" class="govuk-body govuk-!-font-weight-bold">Other scenarios</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
